<form [formGroup]="form" fxLayoutAlign="center" novalidate>
  <mat-list>

    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input type="password" matInput placeholder="Senha" formControlName="senha">
      </mat-form-field>
      <span matTooltip="Senha deve conter ao menos 6 caracteres">
        <mat-icon>help</mat-icon>
      </span>
    </mat-list-item>

    <mat-list-item fxLayoutAlign="center">
      <button mat-raised-button color="primary"
         (click)="logar()">
        Entrar
      </button>
    </mat-list-item>

    <mat-list-item>
      <a mat-button color="primary" routerLink="/cadastro-pf">
        Cadastrar PF
      </a>
      <a mat-button color="primary" routerLink="/cadastro-pj">
        Cadastrar PJ
      </a>
    </mat-list-item>

  </mat-list>
</form>
