<form [formGroup]="form" fxLayoutAlign="center" novalidate>

  <mat-list>

    <mat-list-item>
     <mat-form-field>
       <input matInput [matDatepicker]="data"
              placeholder="Data" readonly
              formControlName="data">
       <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
       <mat-datepicker touchUi="true" #data></mat-datepicker>
     </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <mat-select placeholder="Horas" formControlName="horas">
          <mat-option *ngFor="let hora of horas" [value]="hora">
            {{hora}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;:&nbsp;
      <mat-form-field>
        <mat-select placeholder="Minutos" formControlName="minutos">
          <mat-option *ngFor="let minuto of minutos" [value]="minuto">
            {{minuto}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <mat-select placeholder="Tipo" formControlName="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo">
            {{tipo | tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item fxlayoutalign="center">
      <button mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              (click)="cadastrar()">
        Cadastrar
      </button>
      &nbsp;
      <a mat-button color="primary" routerLink="/admin">
        Voltar
      </a>
    </mat-list-item>

  </mat-list>

</form>
